/* Components */
body{
    font-family: Graphik, 'Arial', sans-serif;
}

.header{
    height: 930px;
    background: url('../img/Rectangle\ 9.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 115px;
}

.content-logo-dark{
    margin-left: 20%;
}

.logo{
    height: 58px;
    width: auto;
}

.navbar{
    margin-top: 60px;
}

nav .item-link{
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}

.social-media__item{
    margin-right: 30px;
}

.header__content{
    max-width: 766px;
    text-align: center;
}

.header__title{
    font-weight: 700;
    color: var(--lightText);
    padding:10px;
    margin-top: 150px;
}

.header__description{
    color: var(--lightText);
    font-weight: normal;
    padding: 10px;
    margin-top: 17px;
    max-width: 766px;
}

.header__button{
    margin-top: 80px;
}

.content-title{
    padding: 10px;
    margin-bottom: 7px;
}

.content-text{
    color: var(--secondaryColor);
    padding: 10px;
}

.btn{
    padding: 16px 62px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.btn-primary{
    background: var(--primaryColor);
    color: var(--lightText);
}

.feature__lists{
    margin-bottom: 90px;
}

.feature__item{
    max-width: 255px;
    margin: 0 auto;
}

.feature__content{
    text-align: center;
    max-width: 532px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.feature__item__icon{
    height: 45px;
    width: 45px;
    margin-bottom: 17px;
}

.feature__item__title{
    font-weight: 700;
    padding: 10px;
    margin-bottom: 10px;
}

.feature__item__content{
    text-align: center;
    padding: 0 10px;
}

.input{
    height: 54px;
    background-color: #F4F4F4;
    border-radius: 35px;
    border: none;
    width: 100%;
    padding-left: 20px;
    text-decoration: none;
}

.partner__content{
    text-align: center;
}

.hero__container{
    padding-top: 220px;
    padding-bottom:220px;
}

.hero__group{
    height: 100%;
    padding: 30px;
}

.hero__content .h2{
    max-width: 335px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero__content .h4{
    max-width: 532px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero__group button{
    max-width: 235px;
}

.testimonials__description{
    text-align: center;
}

.pricing{
    background-color: var(--darkBackground);
}

.pricing__module{
    background-color: var(--lightText);
    border-radius: 10px;
}

.pricing__module-v2{
    color: var(--lightText);
    background-color: var(--primaryColor);
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--lightText);

}

.btn-secondary{
    background-color: var(--lightText);
    color: var(--primaryColor);
}

textarea{
    background-color: #F4F4F4;
    resize: none;
    border: none;
    padding-left: 20px;
    padding-top: 20px;
}

.contact{
    margin-top: 220px;
    margin-bottom: 220px;
}

.contact__cta{
    padding: 50px;
    border-radius: 20px;
    height: 700px;
}

.contact__img{
    width: 25px;
}

.footer__container{
    background-color: var(--darkBackground);
    color: var(--lightText);
}

.icon{
    height:33px;
}

.partner__lists__item{
    padding: 25px 40px;
    border: 1px dotted grey;
}

.partner__lists__item img{
    height: 77px;
    width: auto;
}

.video-group{
    position: relative;
}

.pricing__container{
    padding-top: 110px;
    padding-bottom: 110px;
}

.pricing__title{
    padding: 10px;
    margin-bottom: 7px;
}


.pricing__description{
    max-width: 532px;
    padding: 10px;
}

.pricing__option{
    margin-top: 80px;
}

.pricing__module{
    padding: 80px 30px;
    height: 600px;
    margin: 20px;
}
.pricing__module-v2{
    height: 700px;
}

.module__description{
    max-width: 148px;
    text-align: center;
}
.module__feature__item{
    padding: 15px;
}

.feature__banner{
    height: 658.3px;
    width: auto;
}

.feature__button{
    position: absolute;
    cursor: pointer;
}

.feature__button:hover{
    opacity: 0.8;
}


.btn-primary:hover{
    background-color: #1679d5;
}

.btn-secondary:hover{
    background-color: rgb(225, 225, 225);
}

.link{
    text-decoration: none;
}
.social-media{
    margin-top: 40px;
}
.contact__content{
    max-width: 532px;
    margin: 0 auto;
    padding:10px;
    margin-bottom: 60px;
}

.contact__group{
    padding:20px;
}

.contact__container{
    padding: 50px;
}

.contact__content{
    padding:10px;
}

.contact__content .h2{
    margin-bottom: 10px;
}

footer{
    background-color: var(--darkBackground);
}

footer .item-link{
    display: inline-block;
    margin-bottom: 20px;
}

.footer__container{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer__menu p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form{
    height: 100%;
}

.testimonials{
    padding-top:100px;
    padding-bottom: 100px;
}

.testimonials__title{
    padding: 10px;
    margin-bottom: 80px;
}

.testimonials__description{
    max-width: 967px;
    margin-bottom: 60px;
}

.user__profile .link{
    color: black;
}

.testimonials__img img{
    width: 150px;
    margin-bottom: 60px;
}

.user img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.user{
    margin-bottom: 60px;
}

.partner__container{
    margin-top: 130px;
    margin-bottom: 130px;
}

.partner__content .h2{
    padding: 10px;
    margin-bottom: 7px;
}

.partner__content .h4{
    max-width: 532px;
    padding: 10px;
    margin-bottom: 80px;
}

.partner button{
    margin-top: 80px;
}

.cta__group{
    padding: 80px;
}

.cta__content .h2{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 324px;
    margin-bottom: 25px;
}

.cta__form{
    padding-top: 35px;
    padding-bottom: 35px;
}

.module__price .h1{
    padding: 10px;
}

.module__title .h3{
    padding: 10px;
}

.bi-phone{
    font-size: 30px;
    margin-right: 5px;
}

.bi-geo-alt{
    font-size: 30px;
    margin-right: 5px;
}