*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    flex-direction: row;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.column{
    flex-direction: column;
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.col-1{
    flex-basis: 8.3333%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-2{
    flex-basis: 16.6667%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-3{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-4{
    flex-basis: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-5{
    flex-basis: 41.6667%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-6{
    flex-basis: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-7{
    flex-basis: 58.3333%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-8{
    flex-basis: 66.6667%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-9{
    flex-basis: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-10{
    flex-basis: 83.3333%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-11{
    flex-basis: 91.6667%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-12{
    flex-basis: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

